body {
  font-family:'Helvetica Neue',Arial,sans-serif;
  font-size:14px;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    height: 100vh;
    margin:0;
    padding:0;
}

header {
  margin: 0;
  padding: 0;
  line-height:1.6666;
  border-bottom:1px solid black;
  height:55px;
  z-index:1001;
  font-size:14px;
  display: flex;
  flex-flow: row;
}

.logo-container {
  padding-top: 8px;
  width: 150px;
}

.year-container {
  padding-top: 15px;
  width: 75px;
}

.slider-container {
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
}


#viewport {
  flex: 1;
  position: relative;
}

/* The slider itself */
.slider {
  clear: both;
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 15px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  z-index: 1;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.eyelevel-button img {
  /* actual image size is 136x128 */
  width: 40px; /* height will adjust accordingly */
}

.eyelevel-button {
  border-radius: 5px;
  position: absolute;
  right: 10px;
  border: 1px solid #aaaaaa;
  background-color: white;
  margin: 2px;
}

.eyelevel-button:hover {
  background-color: #aaaaaa;
}

.eyelevel-button.street-level {
  top: 10px;
}

.eyelevel-button.bird-level {
  top: 70px;
}

.eyelevel-active {
  border: 3px solid blue;
  background-color: white;
  margin: 0px;
}
.eyelevel-active:hover {
  background-color: white;
}
